h2{
    text-align: center;
}

.dropdown{
    display: inline-block;
    float: right;
    position relative;
}

.dropdown ul li{
    display: inline-block;
    float: left;
    margin: 20px;
}
.dropbtn-Admin{
  background-color: powderblue;
  color: green;
  padding: 12px;
  border: none;
  width: 100%;
  float: right;
}

.dropdown-content-Admin{
    position: absolute;
    background-color: gray;
    min-width: 80px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}

.dropdown-content-Admin a{
    color: black;
    display: block;
    padding: 4px 8px;
    text-decoration: none;
}

.dropdown-content-Admin a:hover{
    background: white;
}

.dropdown:hover .dropdown-content-Admin{
    display: block;
}

.dropdown:hover .dropbtn-Admin{
    background-color: gray;
}

.dropbtn-User{
  background-color: powderblue;
  color: green;
  padding: 12px;
  border: none;
  width: 100%;
  display: inline-block;
}

.dropdown-content-User{
    position: absolute;
    background-color: gray;
    min-width: 80px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}

.dropdown-content-User a{
    color: black;
    display: block;
    padding: 4px 8px;
    text-decoration: none;
}

.dropdown-content-User a:hover{
    background: white;
}

.dropdown:hover .dropdown-content-User{
    display: block;
}

.dropdown:hover .dropbtn-User{
    background-color: gray;
}