<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<h2>Employee Recognition Portal Add Admin User</h2>

<div class ="Form">
    <form action="/" method="post">
        <div class = "Form_Layout">
            <input type="email" placeholder="Enter Email Address" name="email" required/><br/>
            <input type="password" placeholder="Enter Password" name="password" required/><br/>
            <input type="submit" value="Add">           
        </div>
    </form>
</div>