<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<div class="header">
    <img src="/images/ERPLOGO.png" ALT="">
</div>

<h2>Employee Recognition Portal Add Admin User</h2>

<a href="/admin" style="color:orange;float:right;"> Back to AdminPage</a>

<div class ="Form">
    <form action="/admin/newadmin" method="post">
        <div class = "Form_Layout">
            <input type="email" placeholder="Enter Email Address" name="email" required/><br/>
            <input type="password" placeholder="Enter Password" name="password" required/><br/>
            <input type="submit" value="Add">           
        </div>
    </form>
</div>