<!DOCTYPE HTML>
<html>
<head>

    <link href ="/stylesheets/AdminWebpageStyle.css" rel ="stylesheet" type ="text/css">
</head>
<body>
    <h2>Employee Recognition Portal/Admin Webpage</h2>
</body>
    <!-- Create drop down menu on right side of webpage. reference from W3school.com-->
    <div class="dropdown">
        
        <ul>
        <li>
        <button class="dropbtn-Admin">Admin Profile</button>
            <div class="dropdown-content-Admin">
                    <a href="#">Add Admin user</a>
                    <a href="#">Edit Admin user</a>
                    <a href="#">Delete Admin user</a>
            </div>
        </li>
        <li>   
        <button class="dropbtn-User">User Profile</button>
            <div class="dropdown-content-User">
                    <a href="#">Add user</a>
                    <a href="#">Edit user</a>
                    <a href="#">Delete user</a>
            </div>
        </li>
        <ul>
            
    </div>
  
    
</body>  

</html>