<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<h2>Employee Recognition Portal Admin Login</h2>

<div class ="Form">
    <form action="/" method="post">
        <div class = "Form_Layout">
            <input type="email" placeholder="Enter Email Address" name="Username" required/><br/>
            <input type="password" placeholder="Enter Password" name="Password" required/><br/>
            <input type="submit" value="Login">
            {{{LoginStatus}}}
            <a href="/reset"> Forgot Password?</a><br>
            <a href="/SignupAdmin"> Sign up here</a><br>
           
            
        </div>
    </form>
</div>