<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<div class="header">
    <img src="/images/ERPLOGO.png" ALT="">
</div> 

<h2>Employee Recognition Portal Admin Webpage</h2>

<h4>{{success}}</h4>

<ul>
    <li><a href="/plotlyTest">BI Reports</a></li>
    <li><a href="/admin">Admin Profile</a>
        <ul>
            <li><a href="/admin/showadmin">Show Admin</a></li>
            <li><a href="/admin/newadmin">Add Admin</a></li>
        </ul>
    </li>
    <li><a href="#">User Profile</a>            
        <ul>
            <li><a href="/admin/showuser">Show User</a></li>
            <li><a href="/admin/newuser">Add user</a></li>
        </ul>
    </li>   
    <li><a href="/logout">Logout</a></li>
</ul>  

