<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<h2>Employee Recogniton Portal CreatePassword</h2>

<h3>Please provide new password.</h3>

<div class ="Form">
    <form action="/login" method="post">
        <div class ="Form_Layout"
            <p></p>
            <input type ="password" placeholder="Enter New Password" id="NewPassword" name="NewPassword" required>
            <input type ="password" placeholder="Re-enter New Password" id="RepeatPassword" name="RepeatPassword" required>
            <input type ="submit" value="ConfirmPassword">
            {{{ConfirmPasswordStatus}}}
        </div>
    </form>
</div>

   