<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<section>
<ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/SignUpUser">SignUpUser</a></li>
    <li><a href="/adminlogin">Login</a></li>
    <li><a href="/>SignAdmin"</a>SignupAdmin</li>
</ul>
</section>

<h2>Employee Recogniton Portal Dashboard</h2>

<p>Welcome to Employee Recognition Portal!</p> 
    
    
    
