<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<section>
<ul>
    <li><a href="/login">User Login</a></li>
    <li><a href="/signup">User Signup</a></li>
    <li><a href="/admin/login">Admin Login</a></li>
    <li><a href="/admin/signup">Admin Signup</a></li>
</ul>
</section>

<h2>Employee Recogniton Portal Dashboard</h2>

<p>Welcome to Employee Recognition Portal!</p> 
    
    
    
