<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/images/FAVICON.png" size="16x16" type="image/png">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<div class="header">
    <img src="/images/ERPLOGO.png" ALT="">
</div> 

<h2>Employee Recognition Portal Edit User</h2>



<div class ="Form">
    <form action="/admin/edit-user/{{id}}" method="post">
        <div class = "Form_Layout">
            <input type="text" value= {{user.firstname}} name="firstname" required/></br>
            <input type="text" value= {{user.lastname}} name="lastname" required/></br>
            <input type="email" value= {{user.email}} name="email" required/></br>
            <input type="submit" value="Edit User">  
        </div>
    </form>
</div>