<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<h2>Employee Recognition Portal Edit Admin User</h2>

<div class ="Form">
    <form action="/admin/edit-admin/{{id}}" method="post">
        <div class = "Form_Layout">
            <input type="email" value={{admin.email}} name="email" required/><br/>
            <input type="submit" value="Edit Admin">  
            
        </div>
    </form>
</div>