<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/images/FAVICON.png" size="16x16" type="image/png">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<div class="header">
    <img src="/images/ERPLOGO.png" ALT="">
</div> 

<h2>Employee Recognition Portal Edit Admin User</h2>

<div class ="Form">
    <form action="/admin/edit-admin/{{id}}" method="post">
        <div class = "Form_Layout">
            <input type="email" value={{admin.email}} name="email" required/><br/>
            <input type="submit" value="Edit Admin"> 
        </div>
    </form>
</div>