<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<link rel="icon" href="/images/FAVICON.png" size="16x16" type="image/png">

<h2>Employee Recogniton Portal Reset Account Page</h2>

<h3>Not able to login? Please provide following information. Reset link will be sent to your email.</h3>

<div class ="Form">
    <form action="/forgot" method="post">
        <div class = "Form_Layout">
            <input type="email" placeholder="Enter Email Address" name="email" required/><br/>
            <input type="submit" value="Submit">
        </div>
       
    </form>
</div>
