<!DOCTYPE HTML>
<html>

<head>
    <link href ="/stylesheets/LoginStyle.css" rel ="stylesheet" type ="text/css">
</head>

<body>
    <h2>Employee Recognition Portal/Login</h2>
    <div class = "LoginPage" 
   
    <form id="LoginForm" name="loginform" method="post" action"/Login">
        <div class ="Login"
            <p></p>
            <input type ="text" placeholder="Enter email address" id = "Username" name="Username" required>
            <input type ="text" placeholder="Enter password" id = "Password" name="Password" required>
            <button type ="button" onclick="ValidateLoginPage()">Login</button><br>
            <a href="UserWebpage.html"></a>
            <a href="#">Forgot Username or Password?</a>
            <p></p>
            <button type="button" class="SignUpPage"> Not a user? SignUp Here.</button>
        </div> 
       
    </form>
    
    </div>
    
    <script src="/javascripts/Login.js"></script>
 
    
</body>
</html>


