<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/images/FAVICON.png" size="16x16" type="image/png">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<div class="header">
    <img src="/images/ERPLOGO.png" ALT="">
</div>

<h2>Employee Recognition Portal User Login</h2>

<h4>{{error}}</h4>
<h4>{{success}}</h4>
<div class ="Form">
    <form action="/login" method="post">
        <div class = "Form_Layout">
            <input type="email" placeholder="Enter Email Address" name="email" required/><br/>
            <input type="password" placeholder="Enter Password" name="password" required/><br/>
            <input type="submit" value="Login">
            {{{LoginStatus}}}
            <a href="/forgot"> Forgot Password?</a><br>
            <a href="/signup"> Sign up here</a><br>
           
            
        </div>
    </form>
</div>


