{{> header }}

 <div class="container">
  <h2 class="text-center font-weight-normal">Employee Portal User Login</h2>  
    <form id="login" name="login" method="post" action="/login">
         
        <div class="form-group">
          <label for="email">Email address:</label>
          <input name="email" type="text" class="form-control" placeholder="Email address" required autofocus/>     {{!form email field needs to be username for passport local strategy authentication to work}}
         
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
           <input name="password" type="password" class="form-control" placeholder="Password" required/>
        </div>
         <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In" />
         
     
    </form>
  </div>
  
 

{{> footer }}s