<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="/images/FAVICON.png" size="16x16" type="image/png">

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<div class="header">
    <img src="/images/ERPLOGO.png" ALT="">
</div>

<a href="/admin" style="color:orange;float:right;"> Back to AdminPage</a>

<h2>Employee Recognition Portal BI Operations Page</h2>
    
   <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<br>

<select id='plotlyOptions'>
  <option value='awardee_dept'>Department</option>
  <option value='awarder_ID'>Giver</option>
  <option value='awardee_name'>Recipient</option>
  <option value='awardee_region'>Region</option>
</select>
<button id='plotlyLoad'>Load Data</button> <br><br><br><br><br><br>

<!-- Plots go in blank <div> elements. 
    You can size them in the plot layout,
    or give the div a size as shown here.
-->
<div id="myPlotly" style="width:90%;height:250px;"></div>

<script src='/javascripts/plotly.js'></script>

