<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/stylesheets/adminStyle.css">

<h2>Employee Recognition Portal User List</h2>

<a href="/admin"> Back to AdminPage</a>

<table id = tables>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Actions</th>
                <th>Actions</th>
            </tr>
            
            {{#each users}}
            <tr>
                <td>{{this.user_id}}</td>
                <td>{{this.email}}</td>
                <td>{{this.firstname}}</td>
                <td>{{this.lastname}}</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
        {{/each}}
</table>