<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/images/FAVICON.png" size="16x16" type="image/png">
<link rel="stylesheet" type="text/css" href="/stylesheets/adminStyle.css">
<div class="header">
    <img src="/images/ERPLOGO.png" ALT="">
</div>

<a href="/admin">Back to AdminPage</a>

<h2>Employee Recognition Portal Admin List</h2><br>

<br>
<table align="left" id="tables">
    <tr>
        <th>Admin Id</th>
        <th>Admin Email</th>
        <th>Edit Admin</th>
        <th>Delete Admin</th>
    </tr>
            
            {{#each admins}}
            <tr>
                <td>{{this.user_id}}</td>
                <td>{{this.email}}</td>
                <td><a href="/admin/edit-admin/{{this.user_id}}">Edit</a></td>
                <td><a href="/admin/delete-admin/{{this.user_id}}">Delete</a></td>
            </tr>
        {{/each}}
</table>