<h2>Employee Recogniton Portal Admin Signup</h2>

<div class ="Form">
    <form action="" method="post">
            <div class ="Form_Layout"
            <p></p>
            <input type ="email" placeholder="Enter Email Address" id="Username" name="Username" required><br>
            <input type ="password" placeholder="Enter Password" id="Password" name="Password" required><br>
            <input type="submit" value="Register">
            <input type="submit" value="Already a user? Login">
            </div>    
    </form>
</div>    

    

