<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"> 

<h2>Employee Recogniton Portal User Signup</h2>

<div class ="Form">
  <form action="/register" method="post">
        <div class ="Form_Layout"
            <p></p>
            <input type ="text" placeholder="Enter First Name" id="Firstname" name="Firstname" required><br>
            <input type ="text" placeholder="Enter Last Name" id="Lastname" name="Lastname" required><br>
            <input type ="text" placeholder="Enter Email Address" id="Username" name="Username" required><br>
            <input type ="password" placeholder="Enter Password" id="Password" name="Password" required><br>
            <input type ="text" placeholder="Enter Your Signature" id="Signature" name="Signature" required><br>
            <select>
                <option value="what is your favorite athlete's name?">What is your favorite athelete's name?</option>
                <option value="what is the name of your favorite restaurant?">What is the name of your favorite restaurant?</option>
                <option value="in which city you were born?">In which city you were born?</option>
            </select>
            <input type ="password" placeholder="" required><br>
            <input type ="submit" value="Register">
            <input type ="submit" value="Already a User?Login">
        </div>    
    </form>
</div>

   

