<!DOCTYPE HTML>
<html>

<head>
    <link href ="/stylesheets/SignupStyle.css" rel ="stylesheet" type ="text/css">
</head>

<body>
    <h2>Employee recogniton Portal/Signup</h2>
    <div class = "SignupPage" 
    <form id="SignUp" name="signup" method="post" action"/Signup">
        <div class ="Signup"
            <p></p>
            <input type ="text" placeholder="Enter First Name" id = "Firstname" name="Firstname" required><br>
            <input type ="text" placeholder="Enter Last Name" id = "Lastname" name="Lastname" required><br>
            <input type ="text" placeholder="Enter email address" id = "Username" name="Username" required><br>
            <input type ="text" placeholder="Enter password" id = "Password" name="Password" required><br>
            <button type ="button" class="SignupPage">Join Now</button><br>
            <p></p>
            <button type="button" class="SignUpPage">Already a User?Login</button>
        </div>    
    </form>
    </div>
   
</body>
</html>