<!DOCTYPE HTML>
<html>
<head>
    <link href ="/stylesheets/UserWebpageStyle.css" rel ="stylesheet" type ="text/css">
</head>
<body>
    <h2>Employee Recognition Portal/User Webpage</h2>
</body>
    <! -- Create link button on right side of webpage. -->
    <div class="Links"<p></p>
        <ul>
            <li><a href="#">Edit Profile</a></li>
            <li><a href="#">Awards</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
    <script src="Login.js"></script>
    <h3>Welcome!</h3>
    
    <!-- Create Table for awards -->
    <h3> My awards</h3>
    <table>
        <tr>
            <th>Awardee's username</th>
            <th>Awardee's award name</th>
            <th>Date</th>
        </tr>
        
        <tr>
            <td>John</td>
            <td>Employee of the month</td>
            <td>03-25-2015</td>
        </tr>
        
        <tr>
            <td>John</td>
            <td>Employee of the week</td>
            <td>06-10-2017</td>
        </tr>
        
        <tr>
            <td>John</td>
            <td>Employee of the week</td>
            <td>10-02-2012</td>
        </tr>
    
    </table>
    
</body>  

</html>