body {
    background-position: center;
    background: url("../images/background_image.png");
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

h2 {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    color: darkorange;
    text-shadow: 2px 2px black;
    margin-right: 210px; 
    display: block;
}

h3 {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    color: cornflowerblue;
    text-align: center;
    margin-right: 290px;
}

h4 {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    color: goldenrod;
    text-align: left;
}    

p {
   margin: 30px;
   text-align: center;
   font-size: 16px;
   font-family: sans-serif; 
   color: gold;
}

.header img {
    opacity: 0.9;
    float: left;
    width: 200px;
    height: auto;
    display: inline-block; 
    margin: 0px;
    padding: 0px;
} 

a {
    font-family: sans- serif;
    color: honeydew;
    text-decoration: none;
    font-size: 14px;
    padding: 0;
    margin: 0 0 15px;
}

ul {
    float: right;
    list-style: none;
    margin: 0px;
    padding: 0px;      
}

ul li {
    float: left;
    margin: 3px;
    background: transparent;
    color: inherit;
    inline-height :40px;
    opacity: 1;
    height: 40px;
    width: 100px;
    font-size: 14px;
    text-align: center;
    position: relative;
    display: inline-block;
    border-style: solid;
    border-color: orange;
    color: orange;
}

ul li a {
    text-decoration: none;
    color: orange;
    display: block;
    cursor: pointer;
    white-space: nowrap;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}

ul li a:hover {
    background-color: gray;
}

ul li ul li a {
   cursor: pointer;
}

#tables {
    border-style: solid;
    color: darkkhaki;
    float: left; 
    table-layout: auto;
}

#tables td, th {
    border: 1px solid papayawhip;
    color: darkkhaki;
    text-align: center;
    align: center;
}

#tables input[type=submit]{
    background-color: transparent;
    color: darkkhaki;
    border: none;
    align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 10px;
}

#tables input[type=submit]:hover {
    background-color: darkseagreen;
    color: white;
}

#tables tr:hover {
    background-color: peachpuff;
}
