{
    "plotly" : {
        "username" : "PLOTLY_USERNAME",
        "key" : "PLOTLY_API_KEY"
    },
    "osu_email" : {
        "username" : "YOUR_ONID_GOES_HERE",
        "password" : "YOUR_OSU_PASSWORD_GOES_HERE"
    },
    "PORT_NUM" : "APP_PORT_NUM_GOES_HERE",
    "SECRET" : "SESSION_SECRET_GOES_HERE"
}